<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!--Editor.md-->
    <link rel="stylesheet" href="editormd/css/editormd.css" th:href="@{/editormd/css/editormd.css}"/>
    <link rel="stylesheet" href="editormd/css/editormd.min.css" th:href="@{/editormd/css/editormd.min.css}"/>

    <!-- jquery-->
    <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap core JS -->
    <script src="js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!--Editor.md-->
    <script src="editormd/editormd.min.js" th:src="@{/editormd/editormd.min.js}"></script>


    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>

<body style="background-color: #f6f6f6;">


    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">修改信息</a>
                <a class="dropdown-item" href="#">退出</a>
            </div>
        </div>

    </nav>

    <div class="container mb-lg-5">

        <div class="row">
            <div class="input-group mb-3 col-6 ml-5">
                <div class="input-group-prepend">
                    <span class="input-group-text">标题</span>
                </div>
                <input type="text" id="title" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="col-4 text-right">
                <a><button id="saveStory" class="btn-sm btn-dark">发布</button></a>
                <a href="index.html" th:href="@{/index}"><button class="btn-sm btn-dark">返回首页</button></a>
            </div>
        </div>
        <div class="row mb-3 ml-5">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="青春" checked>
                <label class="form-check-label" for="exampleRadios1">
                    青春
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="家庭">
                <label class="form-check-label" for="exampleRadios2">
                    家庭
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="人生">
                <label class="form-check-label" for="exampleRadios3">
                    人生
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="校园">
                <label class="form-check-label" for="exampleRadios4">
                    校园
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="职场">
                <label class="form-check-label" for="exampleRadios5">
                    职场
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="童年">
                <label class="form-check-label" for="exampleRadios6">
                    童年
                </label>
            </div>
        </div>
        <!-- 文章的主体内容 textarea -->
        <div id="article-content" class="">
            <textarea name="content" id="content" style="display:none;"></textarea>
        </div>

    </div>



    <script type="text/javascript">

        //故事作者
        var author;

        var editor;

        $(function() {
            editor = editormd("article-content", {
                width:"95%",
                height:600,
                syncScrolling:"single",
                path:"editormd/lib/",
                // 自定义的增强配置！
                saveHTMLToTextarea:true,    // 保存 HTML 到 Textarea
                emoji:true, // 开启表情的功能！ 图片的本地配置！
                // theme: "light",//工具栏主题
                // previewTheme: "dark",//预览主题
                // editorTheme: "pastel-on-dark",//编辑主题
                // markdown的配置！
                tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,

                //图片上传
                // imageUpload : true,
                // imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                // imageUploadURL : "/article/file/upload", // 文件上传的处理请求！

                /*指定需要显示的功能按钮*/
                toolbarIcons : function() {
                    return ["undo","redo","|",
                        "bold","del","italic","quote","ucwords","uppercase","lowercase","|",
                        "h1","h2","h3","h4","h5","h6","|",
                        "list-ul","list-ol","hr","|",
                        "link","reference-link","image","code","preformatted-text",
                        "code-block","table","datetime","emoji","html-entities","pagebreak","|",
                        "goto-line","watch","preview","fullscreen","clear","search","|",
                        //"help","info",
                        "releaseIcon", "index"]
                }

            });

            //页面一加载，通过ajax获取服务器中session里存的用户信息
            $.ajax({
                type: 'GET',
                url: '/story/getSession',
                dataType: 'json',
                success:function (user){
                    author = user.username
                }
            })

        });

        $('#saveStory').click(function () {



            var title = $('#title').val()
            var storyTag = $("input[name='exampleRadios']:checked").val()
            var content = editor.getMarkdown()

            var obj = {
                'author':author,
                'title':title,
                'storyTag':storyTag,
                'content':content
            }
            $.ajax({
                type:"POST",
                url:'story/addStory',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: obj,
                dataType: 'json',
                success:function (data) {
                    console.log("发布成功")
                }
            })
            
        })

    </script>


</body>


</html>