<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jian.mapper.StoryMapper">

    <insert id="addStory" parameterType="com.jian.entity.Story" useGeneratedKeys="true" keyProperty="id">
        insert into story.story(id,sid,author,title,content,createTime,updateTime,storyTag,readNum,commentNum,loveNum)
        values (#{id},#{sid},#{author},#{title},#{content},#{createTime},#{updateTime},#{storyTag},#{readNum},#{commentNum},#{loveNum})
    </insert>

    <delete id="deleteBySid">
        delete from story.story where sid=#{sid}
    </delete>

    <update id="update" parameterType="com.jian.entity.Story">
        update story.story
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="content != null">content=#{content},</if>
            <if test="storyTag != null">storyTag=#{storyTag},</if>
            <if test="updateTime != null">updateTime=#{updateTime},</if>
            <if test="readNum != 0">readNum=#{readNum},</if>
            <if test="commentNum != 0">commentNum=#{commentNum},</if>
            <if test="loveNum != 0">loveNum=#{loveNum},</if>
        </set>
        where sid=#{sid}
    </update>

    <select id="findAllByActionId" resultType="com.jian.entity.Story">
        <if test="actionId == 1">
            select * from story.story order by createTime desc
        </if>
        <if test="actionId == 2">
            select * from story.story order by readNum desc,createTime desc
        </if>

<!--        <if test="actionId == 3">-->
<!--            select * from story.story order by createTime desc-->
<!--        </if>-->
<!--        <if test="actionId == 4">-->
<!--            select * from story.story order by createTime desc-->
<!--        </if>-->
    </select>

    <select id="findBySid" resultType="com.jian.entity.Story">
        select * from story.story where sid=#{sid}
    </select>

    <select id="findByUsername" resultType="com.jian.entity.Story">
        select * from story.story where author like concat('%',#{username},'%') order by createTime desc
    </select>

    <select id="findByInput" resultType="com.jian.entity.Story">
        select * from story.story where title like concat('%',#{input},'%')
        union all
        select * from story.story where author like concat('%',#{input},'%')
        order by createTime desc
    </select>

    <select id="findByTag" resultType="com.jian.entity.Story">
        select * from story.story where storyTag=#{storyTag} order by createTime desc
    </select>

</mapper>
