<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jian.mapper.StoryMapper">

    <insert id="addStory" parameterType="com.jian.entity.Story" useGeneratedKeys="true" keyProperty="id">
        insert into story.story(id,sid,author,title,content,createTime,updateTime,storyTag,readNum,commentNum,loveNum)
        values (#{id},#{sid},#{author},#{title},#{content},#{createTime},#{updateTime},#{storyTag},#{readNum},#{commentNum},#{loveNum})
    </insert>

    <delete id="deleteBySid">
        delete from story.story where sid=#{sid}
    </delete>

    <update id="update" parameterType="com.jian.entity.Story">
        update story.story
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="content != null">content=#{content},</if>
            <if test="storyTag != null">storyTag=#{storyTag},</if>
            <if test="updateTime != null">updateTime=#{updateTime},</if>
            <if test="readNum != 0">readNum=#{readNum},</if>
            <if test="commentNum != 0">commentNum=#{commentNum},</if>
            <if test="loveNum != 0">loveNum=#{loveNum},</if>
        </set>
        where sid=#{sid}
    </update>

    <select id="findAllByActionId" resultType="com.jian.entity.Story">
        select * from story.story order by createTime desc
        <choose>
            <when test="actionId == 1">,readNum desc</when>
            <when test="actionId == 2">,commentNum desc</when>
            <when test="actionId == 3">,loveNum desc</when>
        </choose>
    </select>

    <select id="findBySid" resultType="com.jian.entity.Story">
        select * from story.story where sid=#{sid}
    </select>

    <select id="findByUid" resultType="com.jian.entity.Story">
        select * from story.story where author=#{uid} order by createTime desc
    </select>

    <select id="findByTitle" resultType="com.jian.entity.Story">
        select * from story.story where title like concat('%',#{title},'%') order by createTime desc
    </select>

    <select id="findByTag" resultType="com.jian.entity.Story">
        select * from story.story where storyTag=#{storyTag} order by createTime desc
    </select>

</mapper>
