<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jian.mapper.TagMapper">

    <insert id="add" parameterType="com.jian.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        insert into story.tag(id,tid,tagName)
        values (#{id},#{tid},#{tagName})
    </insert>

    <update id="update" parameterType="com.jian.entity.Tag">
        update story.tag
        set tagName=#{tagName}
        where tid=#{tid}
    </update>

    <delete id="delete">
        delete from story.tag where tid=#{tid}
    </delete>

    <select id="findAll" resultType="com.jian.entity.Tag">
        select * from story.tag
    </select>
</mapper>